@page
@model JustBrewIt.Pages.BreweryModel
@{
    var MyBreweryAPI = (BreweryQuickType.BreweryAPI[])ViewData["MyBreweryAPI"];
}
@{
    foreach (BreweryQuickType.BreweryAPI brewery in MyBreweryAPI)
    {   <table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Brewery Type</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@brewery.Name</td>
            <td>@brewery.BreweryType</td>
            <td>@brewery.Phone</td>
        </tr>
    </tbody>
</table>

    }
}
