@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet">
    <!--Font sheet-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Manjari' rel='stylesheet'>
</head>
<body>
    <main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarouse1" data-slide-to="1"></li>
                <li data-target="#myCarouse1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="~/img/glass.jfif" alt="Beer">
                    <div class="container">
                        <div class="carousel-caption text-xl-center">
                            <h1>Just Brew It</h1>
                            <p class="font-weight-bolder">Find tipsy nights in Ohio</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="second-slide" src="~/img/corona.jpg" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h2>Local. Authentic. Easy.</h2>
                            <p class="font-weight-bolder">Find breweries in your desired location. We enlist local and most popular breweries to help you chose as per your liking.</p>
                            <p><a class="btn btn-lg btn-primary" href="/Index" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="third-slide" src="~/img/barrel.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h2>We are here to HELP.</h2>
                            <p class="text-light font-weight-bolder">Given the COVID-19 outbreak we urge you to stay tuned to the updated guidelines </p><p class="text-light font-weight-bolder">to make informed decisions regarding your travel.</p>
                            <p><a class="btn btn-lg btn-primary" href="https://www.brewersassociation.org/brewing-industry-updates/covid-19-resource-center/" role="button">See Guidelines</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container boxdefinition">

            <hr>

            <div class="row">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Search with confidence  <span class="text-muted">We offer the best</span></h2>
               
                    <p class="lead">Looking for a brewery? The JBI staff is continually updating this data to make this the most comprehensive list of Ohio.</p>

                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="~/img/cheers 2.webp" alt="beer">
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Our commitment to your  <span class="text-muted"> well-being</span></h2>
                    <p class="lead">We’ve stepped up our health and hygiene policies because your safety is always our top priority. You can search with confidence knowing we’ve adopted top-notch global safety protocols.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="~/img/bar table.jpg" alt="beer">
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Latest Reviews. <span class="text-muted">Lowest Prices.</span></h2>
                    <p class="lead">Search for a brewery by name of city or type of brewery. Look for latest reviews and ratings.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="~/img/cheers.jfif" alt="Beer">
                </div>
            </div>
        </div>

    </main>
</body>
</html>
