@page
@model JustBrewIt.Pages.OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet">
    <!--Font sheet-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Manjari' rel='stylesheet'>
</head>
<body>

    <hr class="featurette-divider" />

    <div class="container align-self-center">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center font-weight-light"> MEET OUR TEAM </h1>
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <p class=" text-center">CEO & Founder</p>
                <div class="card">
                    <img class="card-img-top" src="~/img/Shivani.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Shivani Vyas</h5>
                        <p class="card-text">After graduating from college with a degree in Computer Science, Shivani started TravelBug to help wanderlusters find their perfect travel plan </p>
                        <p class="card-text"><small class="text-muted">"To travel is to live."</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <p class=" text-center">Director of Operations</p>
                <div class="card">
                    <img class="card-img-top" src="~/img/Tanmay.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tanmay Shrivastava</h5>
                        <p class="card-text">Tanmay holds a degree in Multimedia and Operations from Manipal Institute in India. He loves to travel when he is not working his heart out in meeting amazing storytellers.                    </p>
                        <p class="card-text"><small class="text-muted">"You only live once. So travel"</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <p class=" text-center">Director of Design</p>
                <div class="card">
                    <img class="card-img-top" src="~/img/PTiwari.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pratibha Tiwari</h5>
                        <p class="card-text">Pratibha holds a Master's degree in Design and is one of our founding members. She makes our lives easy by being innovative. Also, she is as good a cook as she is a Manager.</p>
                        <p class="card-text"><small class="text-muted">"I love meeting people and trying new cuisines"</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <p class=" text-center">Managing Director</p>
                <div class="card">
                    <img class="card-img-top" src="~/img/PSingh2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pratibha Singh</h5>
                        <p class="card-text">Pratibha has done her Masters in Business Administration from MIT. She loves to travel and explore various Breweries across the US. She also loves to paint.</p>
                        <p class="card-text"><small class="text-muted">"Everything happens for a reason!"</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>