@page
@model JustBrewIt.Pages.SearchModel
@{
}

<form action="" method="POST" style="margin-top: 50px;">
    <div class="form-group">
        <label class="control-label" for="search">Search Brewries by City</label>
        <input type="text" class="form-control" name="search" id="brewrycity" />
    </div>



    <div class="form-group">
        <label class="control-label" for="search">Search Brewries by Type</label>
        <select class="form-control" id="brewrytype">
            <option value=""></option>
            <option value="micro">Micro</option>
            <option value="nano">Nano</option>
            <option value="regional">Regional</option>
            <option value="brewpub">Brewpub</option>
            <option value="large">Large</option>
            <option value="planning">Planning</option>
            <option value="bar">Bar</option>
            <option value="contract">Contract</option>
            <option value="proprietor">Proprietor</option>
            <option value="closed">Closed</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-sm btn-primary" />
    </div>

</form>
