@page
@model JustBrewIt.Pages.ViewDetailsModel
@{
    var GoogleAPI = (JustBrewItGoogle.GoogleRecords[])ViewData["GoogleAPI"];
}

{
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Business Status</th>
            <th scope="col">Address</th>
            <th scope="col">Geometry</th>
            <th scope="col">Price Level</th>
            <th scope="col">Rating</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var google in GoogleAPI)
    {
        <tbody>
            <tr>
                <td>@google.Candidates<></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    }
</table>
}
