@page
@model JustBrewIt.Pages.WeatherModel
@{
    List<WeatherAPI.Datum>
    Records = (List<WeatherAPI.Datum>)ViewData["Records"];
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">City Name</th>
            <th scope="col">Temperature (in Celsius)</th>
        </tr>
    </thead>

    @foreach (var record in Records)
    {
        <tbody>
            <tr>
                <td>@record.CityName</td>
                <td>@record.Temp</td>
            </tr>
        </tbody>
    }

</table>

